In [1]:
import pandas as pd
import numpy as np

In [2]:
indeed_df = pd.read_csv("datasets/jobskills_indeed.csv")
linkedin_df = pd.read_csv("datasets/jobskills_linkedin.csv")
indeed_df = indeed_df.drop(["Unnamed: 0"], axis=1)
linkedin_df = linkedin_df.drop(["Unnamed: 0"], axis=1)
linkedin_df = linkedin_df.rename(columns={"Post": "Job Title"})

In [11]:
indeed_df.head()

,Job Title,Company Name,Skill
0,Software Development Engineer,THE SOFTWARE PRACTICE PTE. LTD.,scratch
1,Software Development Engineer (Front-end),THE SOFTWARE PRACTICE PTE. LTD.,scratch
2,Tuition Centre Administrator,Achievers Dream Learning Centre,scratch
3,Part-Time Tuition Centre Administrator,Achievers Dream Learning Centre,scratch
4,Trainee/Senior Bunker Trader,SEA OIL PETROLEUM PTE. LTD.,scratch

In [10]:
linkedin_df.head()

,Job Title,Company Name,Skill
0,Software Engineer,IRVINS,scratch
1,Head of Product,IRVINS,scratch
2,Food Tech Executive,IRVINS,scratch
3,Customer Experience Research Leader – VP,Charterhouse Singapore,scratch
4,Marketing and Communications Specialist - Fres...,Relentless,scratch

## Aggregate number of companies and post types for each skill

In [3]:
frames = [indeed_df, linkedin_df]
df = pd.concat(frames)

In [4]:
df.to_csv("job_data.csv")

In [12]:
by_occurences = df.groupby(['Skill']).count()
by_jobtypes = pd.DataFrame(df.groupby('Skill')["Job Title"].nunique())
by_companies = pd.DataFrame(df.groupby('Skill')["Company Name"].nunique())

In [13]:
by_occurences["Job Title"].reset_index(drop=True, inplace=True)
by_jobtypes["Job Title"].reset_index(drop=True, inplace=True)
by_companies["Company Name"].reset_index(drop=True, inplace=True)

In [14]:
df = pd.DataFrame()
df["Skill"] = by_occurences.index
df["Occurences"] = by_occurences["Job Title"]
df["Job Types"] = by_jobtypes["Job Title"]
df["Companies"] = by_companies["Company Name"]
df.head()

       Skill  Occurences  Job Types  Companies
0    Angular         204        158        151
1    Arduino         196        128         97
2  Bootstrap         205        158        150
3     Django         205        129        135
4     Docker         204        171        166

In [15]:
df.to_csv("job_aggregation.csv", index=False)